@use '../lib/colors.scss' as colors;

.container {
    background-color: colors.$background;
    width: 230px;
    padding: 24px;
    border-radius: 7px;
}

.title {
    color: colors.$accent;
}

.text {
    margin-top: 12px;
    line-height: 1.5;
}

.menu {
    margin-top: 12px;
}
