@use '../lib/colors.scss' as colors;

.container {
    background-color: colors.$background;
    width: 230px;
    padding: 24px;
    border-radius: 7px;
}

.form {
    display: flex;
    flex-direction: column;
}

.title {
    color: colors.$accent;
}

.text {
    margin-top: 12px;
    line-height: 1.5;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.button { 
    & + & {
        margin-left: 8px;
    }
}
