@use '../lib/colors.scss' as colors;
@use '../lib/util.scss' as util;

$padding: 4px;

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.toolBar {
    width: 100%;
    padding: $padding;
    display: flex;
    border-bottom: 1px solid rgba(black, .3);
}

.tool {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(colors.$primary, .7);
    &:hover:not(.active) {
        background-color: rgba(colors.$accent, .08);
    }

    &.active {
        cursor: default;
        color: colors.$accent;
    }

    & + & {
        margin-left: $padding;
    }
}

.body {
    flex: 1;
    position: relative;
    display: flex;
    overflow: hidden;
}

.inspector {
    width: 256px;
    border-right: 1px solid rgba(black, .3);
}

.main {
    position: relative;
    flex: 1;
    overflow: scroll;
    @include util.scroll-bar();
}

.ui {
    position: absolute;
    top: 0;
    left: 0;
}
